@model TasksViewModel
@using Core.Models.User
@using Lib.Pages.Shared.Task

@if (Model.Tasks != null && Model.Tasks.Any())
{
    <details class="mt-4 mb-25">
        <summary class="mb-1 h5">
            @Html.DisplayNameFor(_ => Model.Tasks)
            <span class="float-end">@Model.Tasks.Count()</span>
        </summary>

        <component type="typeof(TaskSection)" render-mode="Static" param-User="Model.UserNewsletter" param-Tasks='Model.Tasks' param-Theme='Theme.None' param-Verbosity="Model.Verbosity" param-Title='new TaskSection.Titles(string.Empty)' />
    </details>
}
