@using Core.Models.Exercise
@using Core.Models.Newsletter;
@using Core.Models.User;

@if (Tasks?.Any() == true)
{
    var titleColor = Theme switch
    {
        ExerciseTheme.Warmup => "palevioletred",
        ExerciseTheme.Main => "mediumpurple",
        ExerciseTheme.Cooldown => "lightskyblue",
        ExerciseTheme.Extra => "lightgreen",
        ExerciseTheme.Other => "lightsalmon",
        _ => "currentColor"
    };

    if (Title == null)
    {
        foreach (var exerciseGroup in Tasks.GroupBy(e => e, new TaskSectionComparer()))
        {
            @*<h2 style="margin-bottom:0;margin-top:1em;color:@titleColor;font-size:revert;">@exerciseGroup.Key.Section.GetSingleDisplayName()</h2>*@

            <div style="margin-top:.2rem;display:flex;flex-flow:row wrap;gap:1ch;line-height:normal;">
                @foreach (var item in exerciseGroup)
                {
                    <CascadingValue Value="User">
                        <_Task Model="item" Verbosity="Verbosity" />
                    </CascadingValue>
                }
            </div>
        }
    }
    else
    {
        <h2 style="margin-bottom:0;margin-top:1em;color:@titleColor;font-size:revert;">@Title.Header</h2>
        @if (Title.Description.HasValue)
        {
            <h6 style="margin-block:0;font-size:revert;">@Title.Description.Value</h6>
        }
        <div style="margin-top:.2rem;display:flex;flex-flow:row wrap;gap:1ch;line-height:normal;">
            @foreach (var item in Tasks)
            {
                <CascadingValue Value="User">
                    <_Task Model="item" Verbosity="Verbosity" />
                </CascadingValue>
            }
        </div>
        @if (Title.Footer.HasValue)
        {
            <h6 style="margin-bottom:0;margin-top:.25em;font-weight:normal;font-size:revert;">@Title.Footer.Value</h6>
        }
    }
}

@code {
    [Parameter]
    public Titles? Title { get; init; }

    [Parameter, EditorRequired]
    public Core.Dtos.User.UserNewsletterDto? User { get; init; }

    [Parameter, EditorRequired]
    public ExerciseTheme Theme { get; init; }

    [Parameter, EditorRequired]
    public IList<NewsletterTaskDto>? Tasks { get; init; }

    [Parameter, EditorRequired]
    public Verbosity Verbosity { get; init; }

    public record Titles(MarkupString Header, MarkupString? Description, MarkupString? Footer)
    {
        public Titles(string header) : this(new MarkupString(header), null, null) { }
        public Titles(string header, string description) : this(new MarkupString(header), new MarkupString(description), null) { }
        public Titles(string header, string description, string footer) : this(new MarkupString(header), new MarkupString(description), new MarkupString(footer)) { }
    };

    private class TaskSectionComparer : IEqualityComparer<NewsletterTaskDto>
    {
        public bool Equals(NewsletterTaskDto? a, NewsletterTaskDto? b)
            => EqualityComparer<NewsletterTaskDto>.Default.Equals(a, b);

        public int GetHashCode(NewsletterTaskDto e) => e.GetHashCode();
    }
}