@model NewsletterViewModel
@using Core.Models.Components
@using Core.Dtos.Newsletter
@using Core.Models.User

<div class="list-group mb-3">
    <a href="@Url.ActionLink(nameof(NewsletterController.Newsletter), NewsletterController.Name, new { Model.User.Email, Model.Token, Client = Client.Web }, Uri.UriSchemeHttps)"
       class="list-group-item list-group-item-info list-group-item-action active hover allow-demo">
        <h5 class="mb-0">Current Entry</h5>
        <h6 class="mb-1 font-weight--normal">@Model.User.TodayOffset.ToLongDateString()</h6>
    </a>
</div>
