@page "/exercise/exercise"
@inject DisplayHelper DH
@inject IOptions<SiteSettings> SiteSettings
@using Core.Consts;
@using Core.Dtos.Newsletter
@using Core.Models.Options
@using Microsoft.Extensions.Options
@using Core.Models.Components
@using Core.Models.User
@using Core.Models.Newsletter

@{
    var borderColor = Theme switch
    {
        Theme.Warmup => "palevioletred",
        Theme.Main => "mediumpurple",
        Theme.Cooldown => "lightskyblue",
        Theme.Extra => "lightgreen",
        Theme.Other => "lightsalmon",
        _ => "currentColor"
    };

    var backgroundColor = Theme switch
    {
        Theme.Warmup => "rgba(250,200,200,.1)",
        Theme.Main => "rgba(250,200,250,.1)",
        Theme.Cooldown => "rgba(200,200,250,.1)",
        Theme.Extra => "rgba(200,250,200,.1)",
        Theme.Other => "rgba(250,200,150,.1)",
        _ => "transparent"
    };
}

@* Use `em` for spacing and font sizes--it's more consistent across fonts/mediums. *@
<div style="flex:1 0 min(calc(100% - 20px), 300px);padding:10px;position:relative;display:flex;flex-direction:column;
            border-bottom:4px solid @borderColor;border-image-slice:1;outline:1px solid @borderColor;background-color:@backgroundColor;">

    <div> @* For margin collapse. *@
        <h3 style="margin-block-start:0;margin-block-end:.4em;font-size:1.2em;line-height:1.2;display:flex;gap:.8ch;">
            <span style="flex:1 1 auto;">
                <span style="text-decoration:underline;">@(Model.Type.GetSingleDisplayName())</span>
            </span>

            @if (User != null)
            {
                <a class="allow-demo" style="text-decoration:none;margin:-10px -10px 0 0;padding:10px 7px 0 0;" target="_blank" href="@DH.UserLink(User, $"{Model.Type}")">&#127760;</a>
            }
        </h3>
    </div>

    @if (Verbosity.HasFlag(Verbosity.Images))
    {
        // If we want to reduce layout shift with aspect-ratio, that really needs to be included on the table with the image because our images don't have consistent aspect ratios.
        // Setting min-height (200 / (25/14)) gets us close though. 25/14 is, for the most part, our widest aspect-ratio.
        <img style="display:block;height:auto;min-height:112px;max-height:350px;max-width:100%;object-fit:contain;object-position:left top;" loading="lazy" src="@Model.Image" />
    }
</div>

@code {
    [CascadingParameter]
    public Core.Dtos.User.UserNewsletterDto? User { get; set; }

    [Parameter, EditorRequired]
    public ComponentImage Model { get; set; } = null!;

    [Parameter, EditorRequired]
    public Verbosity Verbosity { get; set; }

    [Parameter, EditorRequired]
    public Theme Theme { get; init; }
}